@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
font-family: 'Lato', sans-serif;
*/

.App {
    text-align: center;
}

body {
    background-color: #050110;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #232230;
    color: #fefffe;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.newConfirmed,
.totalConfirmed,
.totalDeaths,
.totalRecovered {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

.newConfirmed h4 {
    color: #f7a538;
}

.totalConfirmed h4 {
    color: #ef5939;
}

.totalDeaths h4 {
    color: #ea2340;
}

.totalRecovered h4 {
    color: #52ada2;
}

/*Table*/
table {
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0 12px;
    color: #fefffe;
    width: 80%;
    background-color: #232230;
    margin: 30px auto;    
}

table thead tr {
    background: #323846;
}

table thead tr th {
    padding: 18px 12px;
    text-align: center; 
}

table tbody tr {
    background-color: #323846;
}

table tbody tr td {
   padding: 18px 12px;
   text-align: center;
}


